
<div class="row">
  <div class="col-md-3 text-right">
    <img src="<%= image_url "icon_finance.png" %>" class=""/>
  </div>

  <div class="col-md-8">
    <p><%= link_to breaking_headline.title, article_path(breaking_headline)  %></p>
    <p class="byline">By <%= breaking_headline.author %> // <%= breaking_headline.created_at.to_date %></p>
  </div>
</div>


<div class="row">
  <div class="col-md-9 col-md-offset-3">
    <hr>
  </div>
</div>