<div class="container-fluid">
  <%= render "static/account_nav" %>

  <%= render "static/category_nav" %>

  <div class="row new_article">
    <%= render "static/form" %>
  </div>

  <%= render "static/ourfooter" %>
</div>