<div class="row account_nav">
  <div class="col-md-4">
    <p>
      Welcome, new to Daft?
      <a href="#">Subscribe Now</a>
    </p>
  </div>

  <div class="col-md-6 col-md-offset-2">

    <% if is_signed_in? %>

      <div class='pull-right'>
        <%= link_to 'Create an Article', new_article_path, :class=>'btn btn-default' %>

        <%= link_to 'Sign out', sessions_path, :method => :delete, :class=> 'btn btn-primary'%>
      </div>

    <% else %>
      <%= form_tag sessions_path, :class=>'form-inline pull-right' do %>

        <input type="text" name="email" placeholder="Email" class="form-control" autocomplete="off"/>

        <div class="input-group">
          <input type="password" name="password" placeholder="Password" class="form-control" autocomplete="off"/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="circle">
                ?
              </span>
            </button>
          </span>
        </div>

        <input type="submit" value="sign in" class="btn btn-primary"/>

      <% end %>
    <% end %>

  </div>
</div> <!-- Account Nav -->
