<div class="col-md-4 breaking">
  
  <div class="row">
    <div class="col-md-8 col-md-offset-3">
      <h2>Breaking News</h2>
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      <hr>
    </div>
  </div>


  <% @articles.each do |article| %>
    <div class="row">
      <div class="col-md-3 text-right">
        <img src="<%= image_url "icon_finance.png" %>" class=""/>
      </div>

      <div class="col-md-8">
        <p><%= link_to article.title, article_path(article) %> </p>
        <p class="byline">By <%= article.author %></p>
      </div>
    </div>

  
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <hr>
      </div>
    </div>

  <% end %>

</div>
