<div class="col-md-8 latest">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="tech">Latest Articles in Tech</h1>
    </div>
  </div>

  <% 6.times do %>
    <div class="row article_row">
      <div class="col-md-3 col-md-offset-1">
        <img src="http://placehold.it/500x500" class="img-responsive"/>
      </div>
      <div class="col-md-7">
        <h2>Nasa announces plans to launch chimp into sun</h2>

        <p class="byline">by Beverly Miller // 8.12.14</p>

        <p>All work and no play makes Jack a dull boy. All work and no play makes Jack a dull boy. All work and no play makes Jack a dull boy. All work and no play makes Jack a dull boy. All work and no play makes Jack a dull boy. </p>
      </div>
    </div>

    <hr class="article-divider">

  <% end %>

  <div class="row">
    <div class="col-md-12 text-center">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>


