<div class="row ourfooter">
  <div class="col-md-12">
    <img src="<%= image_url "daft_logo_footer.png" %>">

    <h2>Join our mailing list for Daft News!</h2>
    <form class="form-inline">
      <input type="text" name="username" placeholder="Username" class="form-control"/>
      <input type="password" name="password" placeholder="Password" class="form-control"/>
      <input type="submit" value="sign in" class="btn btn-primary"/>
    </form>


    <p>Copyright 2014, all rights reserved</p>
  </div>
</div>
